{% extends "_layout.twig" %}

{% set bodyClass = 'tickets' %}
{% set formId = entry.form.id %}
{% set affiche = entry.image.one() %}

{% set afficheThumb = {
    mode: 'fit',
    height: 500,
    width: 750,
    quality: 100
} %}

{% set reserveerForm = wheelform.form({
    id: formId,
    submitButton: {
    "type": "button",
    "label": "Reserveer",
    "attributes": { 
        "class": "btn btn-primary mt-6",
        "id": "reserveer",
    },
    
}
}) %}
{% set submission = wheelform.lastSubmission ?? null %}

{% block content %}
	<main class="min-h-screen flex items-center py-10">
        <div class="container mx-auto">
            <div class="bg-white/70 backdrop-blur-md border border-primary/20 rounded-3xl p-8 md:p-12 shadow-2xl">
                <h1 class="text-center text-primary font-heading mb-6">{{ entry.header }}</h1>
                <div class="mb-4">{{ entry.text }}</div>

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
                        <div class="left-column m-auto">
                            <img src="{{ affiche.getUrl(afficheThumb) }}" alt="{{ affiche.title }}">
                        </div>
                        <div class="right-column">    
                            <div class="pb-4">
                                {{ entry.formText}}
                            </div>
                            {% include '_partials/forms/wheelform' with { form: reserveerForm } %}
                        </div>
                    </div>
                
                    {# <div class='w-2/3 m-auto'>
                        <div>{{ entry.formText}}</div>
                        {% include '_partials/forms/wheelform' with { form: reserveerForm } %}
                    </div> #}
                
		    </div>
		</div>
	</main>

{% endblock %}
