{% extends "_layout.twig" %}

{% set bodyClass = 'tickets' %}
{% set formId = entry.form.id ?? null %}
{% set reserveerForm = reserveerForm ?? null %}
{% set affiche = entry.image.one() ?? null %}
{% set endDate = entry.endDate|date('Y-m-d') ? null %}
{% set endTime = entry.endTime|date('H:i') ? null %}
{% set endTicketSale = endDate ~ ' ' ~ endTime ? null %}

{% set afficheThumb = {
    mode: 'fit',
    height: 500,
    width: 750,
    quality: 100
} %}

{% if formId %}
    {% set reserveerForm = wheelform.form({
        id: formId,
        submitButton: {
        "type": "button",
        "label": "Reserveer",
        "attributes": { 
            "class": "btn btn-primary mt-6",
            "id": "reserveer",
        },
        }
    }) ?? null %}
{% endif %}
{% set submission = wheelform.lastSubmission ?? null %}

{% block content %}
	<main class="min-h-screen flex items-center py-10">
        <div class="container mx-auto">
            <div class="bg-white/70 backdrop-blur-md border border-primary/20 rounded-3xl p-8 md:p-12 shadow-2xl">
                <div class="text-center text-primary mb-6">
                    {{ entry.header }}
                </div>
                <div class="mb-6 text-center m-auto md:max-w-2/3">
                    {{ entry.text }}
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
                    <div class="left-column m-auto">
                        <img src="{{ affiche.getUrl(afficheThumb) }}" alt="{{ affiche.title }}">
                    </div>
                    <div class="right-column">    
                        {% if craft.app.session.hasFlash('wheelformSuccess') %}  
                            {% if submission %}
                                {% set firstName = submission.fields.first_name.value ?? 0 %}
                                {% set email = submission.fields.email.value ?? 0 %}
                                    <div>
                                        <h2 class="mb-4">Bedankt voor je bestelling</h2>
                                        <p class="mb-4">Hey  {{ firstName }}, </p>
                                        <p> Je bestelling is goed doorgekomen. <br>
                                            We hebben een e-mail gestuurd naar <u>{{ email }}</u> met alle gegevens om je reservering definitief te maken.
                                        </p>
                                    </div>
                            {% endif %}
                        {% else %}
                            
                            {% if date(endTicketSale) > date() %}
                                <div class="pb-4">
                                    {{ entry.formText}}
                                </div>
                                {% if reserveerForm %}
                                    {% include '_partials/forms/wheelform' with { form: reserveerForm } %}
                                {% endif %}
                            {% else %}
                                <div class="pb-4">
                                    {{ entry.formTextEnd }}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
		    </div>
		</div>
	</main>

{% endblock %}
{% js %}
    document.addEventListener('DOMContentLoaded', function() {
        const reserveerKnop = document.getElementById('reserveer');
        
        if (reserveerKnop) {
            const formulier = reserveerKnop.closest('form');
            
            if (formulier) {
                formulier.addEventListener('submit', function(e) {
                    {# Voeg deze regel toe om het formulier niet telkens te verzenden (voor development dus) #}
                    {# e.preventDefault();  #}
                    setTimeout(function() {
                       {# Deactiveer de knop #}
                        reserveerKnop.disabled = true;
                        {# Voeg de spinner en tekst toe #}
                        reserveerKnop.innerHTML = '<span class="spinner"></span> Even geduld...';

                        {# Extra bericht onder de knop #}
                        if (!document.querySelector('.form-feedback-msg')) {
                            const loaderMsg = document.createElement('span');
                            loaderMsg.className = 'form-feedback-msg';
                            loaderMsg.innerText = 'Je reservering wordt verwerkt.';
                            formulier.appendChild(loaderMsg);
                        }
                    }, 0);
                });
            }
        }
    });
{% endjs %}
